/* ////// TIPOGRAFÍA - FUENTES ////// */
@font-face {
  font-family: texto;
  src: url("../src/fonts/Karla-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: negrita;
  src: url("../src/fonts/Karla-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: title;
  src: url("../src/fonts/Raleway-SemiBold.woff");
}
@font-face {
  font-family: enfasis;
  src: url("../src/fonts/OverpassMono-VariableFont.woff");
}

/* ////// PALETA DE COLORES ////// */
:root {
  --negro: rgba(0, 0, 0, .9);
  --blanco: #f2f2f2;
  --beige: #d9cdbf;
  --marron: #bfa68f;
}

/* ////// CONTENIDO GENERAL ////// */

* {
  box-sizing: border-box;     
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: texto, sans-serif;
  font-size: 100%;
}

.container {
  max-width: 1400px;         
  margin: auto;             
}

h1, h2, h3, h4, h5, h6 {
  font-family: title, Arial, Helvetica, Verdana, sans-serif;
  letter-spacing: 0.08em;
  padding-bottom: 20px;
}

p {
  font-family: texto, Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.4;
  padding-bottom: 30px;
}

p.negrita {
  font-family: negrita, Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 30px;
}

p.enfasis {
  font-family: enfasis, monospace;
  font-size: 1em;
  font-weight: normal;
}

small {
  font-family: enfasis, "Courier New", Courier, monospace;
  font-size: 0.7em;
  opacity: 0.8;
}

a {
  font-family: title, Arial, Helvetica, Verdana, sans-serif;
  text-decoration: none;
  color: var(--blanco);
  cursor: pointer;
}

b {
  font-family: negrita, Arial, Helvetica, Verdana, sans-serif;
  font-weight: bold;
}

/* --- Color de Fondo --- */
.viajes, .containergaleria, body.contacto {
  background-color: var(--negro);             
}

/* ////// HEADER ////// */
header {
  width: 100%;
  height: 120px;
  
  display: flex;
  justify-content: space-between;
}

div.logoheader {
  align-self: center;
  margin-left: 25px;
}

img.logo {
  width: 110px;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2%;
  background-color: var(--negro);
  z-index: 12;
}

/* /// HEADER : MENÚ HAMBURGUESA /// */
#hamburguer {
  display: flex;
  z-index: 13;
}

#menu_on {
  width: 30px;
  height: 20px;
  position: relative;
  right: 40px;
  top: 50px;
}

#menu_on span {
  width: 100%;
  background: var(--blanco);
  height: 4px;
  display: block;
  position: absolute;
  border-radius: 4px;
  transition: all 0.35s ease;
  transform-origin: 0px 100%;
}

#menu_on span:nth-child(2){
  top: calc(50% - 2px);
}

#menu_on span:nth-child(3){
  bottom: 0;
}

.visibleMenu span:nth-child(1){                     
  transform: rotate(45deg) translate(-2px, 1px);
}
.visibleMenu span:nth-child(2){
  opacity: 0;
}
.visibleMenu span:nth-child(3){
  transform: rotate(-45deg) translate(-3px, 3px);
}

/* ////// NAVEGADOR ////// */

nav.navPrincipal {
  position: fixed;
  top: -100vh;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  background-color: var(--negro);
  overflow: auto;
  opacity: 0;
  transition: all 0.9s ease;
}

.visibleMenu nav {
  top: 0;
  opacity: 1;
  z-index: 11;
}

a.bar-item {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 30px 0;
  letter-spacing: 0.1em;
}

a.bar-item:hover {
  opacity: 0.4;
  transition: all 0.4s ease;
}

a.btn {
  background-color: var(--negro);
  padding: 8px 24px;
}

a.btn:hover {
  color: var(--negro);
  background-color: var(--marron);
  transition: 0.3s ease;
}

.navweb {
  display: none;
}

.ubicacion {
  display: flex;
  position: fixed;
  left: 0;
  background-color: var(--marron);
  height: 40px;
  width: 100%;
  margin-top: -40px;
  padding-left: 30px; 
  z-index: 2;                 
}

.ubicacion a {
  padding: 13px 20px;
  color: var(--blanco);
  font-size: 0.8em;
}

.ubicacion a.active {
  color: var(--negro);
  background-color: var(--blanco);
}

.ubicacion a:hover {
  color: var(--negro);
  transition: 0.3s ease;
}

/* ////// SCROLL TO TOP ////// */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  background-color: var(--marron);
  color: var(--negro);
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: var(--negro);
  color: var(--blanco);
}

/* ////// HOME01 ////// */

body.index {
  /*background: no-repeat center url("/src/img/portada-viajeamarte.jpg") ;*/
  background-image: url("../src/img/portada-viajeamarte.jpg");
  background-repeat:  no-repeat;
  background-position: center center;
  background-size: cover;
}

.index .container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.index:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--negro);
  opacity: 0.7;
}

.mainindex {
  display: flex;
  justify-content: center;
  height: 100vh;
  height: calc(100vh - 170px);
}

.mainindex .btn {
  text-align: center;
  align-self: center;
  border: 1px solid var(--blanco);
  padding: 18px 36px;
  cursor: pointer;
}

.mainindex .btn a {
  letter-spacing: 0.1em;
}

.mainindex .btn:hover {
  background-color: var(--blanco);
  opacity: 0.6;
  transition: all 0.6s ease-out;
}

.mainindex .btn:hover a {
  color: var(--negro);
  transition: all 0.6s ease-out;
}

/* ////// FOOTER ////// */
footer {
  display: flex;
  color: var(--blanco);
  justify-content: center;
  height: 50px;
}

footer.black { 
  color: var(--negro);
  opacity: 0.9;
}

/* ////// HOME02 ////// */

main.home {
  display: grid;
  text-align: center;     
  max-width: 1300px;
  margin: 120px auto 0;
}

main.home p {
  margin: 30px 0;
}

main.home section img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

main.home section.s01 img {
  height: 600px;
}

.s01 .intro {
  width: 400px;         
  height: 400px;    
  margin: 100px auto;       
}

.s02 .s02text {
  width: 360px;
  margin: 0 auto;
}

.s02 .blanco {
  margin-top: 120px;  
}

.s03 {
  margin-top: 150px;
}

.s03text {
  width: 360px;
  margin: 100px auto;
}

section.s04 h2 {
  margin: 40px 0;
}

div.s04 {                   
  margin-bottom: 100px;
}

.box {
  position: relative;
  height: 400px;
  overflow: hidden; 
  margin-bottom: 20px;
  background-color: var(--negro);
}

.box img {
  opacity: 0.85;
}

.box .hover {
  width: 300px;
  height: 200px;    
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.hover h3 {
  margin: 70px 0 -30px;
  color: var(--blanco);
}

.hover p {
  color: var(--blanco);
}

section.s05 {
  margin: 200px 0 40px;
}

div.s05 {
  width: 400px;
  margin: 0 auto 100px;
}

/* /////// VIAJES /////// */

.mainviajes {
  display: grid;
  margin: 50px 0;
}

.box {
  height: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mainviajes a .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainviajes a .box .hover {
  display: grid;
  align-content: center;
  text-align: center;
  width: 300px;
  height: 170px;              
}

.mainviajes h3 {
  margin: 25px 0 5px;        
}

.mainviajes p {
  font-size: 0.7em;      
 } 

/* ////// BODAS ////// */

main.gridcontainer {
  background: var(--blanco);
  display: grid;                  
  text-align: center;              
  margin-top: 160px;              
  grid-template-columns: auto;     
  grid-gap: 30px;                
  padding: 60px;                   
}

.pareja img {
  width: 100%;          
  height: 250px;         
  object-fit: cover;   
}

.imggrid {
  overflow: hidden;   
}

.textbox {
  display: grid;          
  align-content: center;  
  height: 130px;          
  color: var(--negro);    
  margin-top: -5px;      
}

.pareja:hover .textbox {
  background-color: var(--negro);   
  color: var(--blanco);              
  transition: 0.5s ease-in-out;     
}

.pareja:hover img {  
  transform: scale(1.1);            
  transition: 0.5s ease-in-out;      
}

/* ////// GALERIA RESPONSIVE - TODOS LOS REPORTAJES ////// */

body.galeria .container {
  background-color: var(--negro);    
}

main.grid {
  margin-top: 120px;          
}

main.grid section {
  display: grid;               
  grid-template-columns: 1fr;   
  grid-gap: 10px;              
  margin: 20px 0 80px;
}

 main.grid section img {
  width: 100%;                  
  height: 100%;                 
  object-fit: cover;            
}

/* ////// EQUIPO ////// */

main.equipo {
  display: grid;                
  margin: 120px auto 0 auto;   
  text-align: center;           
  max-width: 1200px;           
}

main.equipo section img {
  width: 100%;                             
  height: 100%;                 
  object-fit: cover;            
}

main.equipo h3 {
  color: var(--negro);          
  margin-bottom: 35px;           
}

main.equipo .s01 {
  margin-bottom: 120px;         
}

main.equipo .s01 img {
  height: 280px;                
  max-width: 600px;             
}

main.equipo .s02 .intro {
  width: 300px;                 
  margin: 0 auto;               
}

main.equipo .s03 img {
  height: 300px;                
  margin: -30px 0 120px;        
}

main.equipo .s03 .text {
  width: 400px;                 
  margin: 0 auto;               
}

main.equipo .s03 .text .enfasis {
  margin: 100px -20px 0;              
}

main.equipo .s04 {
  margin-top: 120px;
}

main.equipo .s04 .titulo {
  width: 300px;
  margin: 0 auto 100px;
}

.s04box .photographer {
  height: 300px;
  position: relative;
  background-color: var(--negro);
  overflow: hidden;
}

.s04box .photographer p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: var(--blanco);
  margin-top: 120px;
  opacity: 0;
}

.s04box .photographer:hover p {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.s04box .photographer:hover img {
  opacity: 0.6;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.s04box .text {
  width: 290px;
  margin: 80px auto;
}

.s04box .bio {
  margin-bottom: 100px;
}

main.equipo .s04img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0 5px;
}

main.equipo .s04img img {
  height: 280px;
  margin-top: 50px;      
}

.s05 p {
  width: 400px;
  margin: 0 auto;
}

.s05 .photo img {
  height: 250px;
  margin-top: 120px;
}

/* ////// CONTACTO ////// */

main.contacto {
  text-align: center;
  margin-top: 80px;
}

main.contacto p, h3 {
  color: var(--blanco);
}

form {
  text-align: left;
  color: var(--blanco);
  margin: 80px auto;
  padding: 0 30px;
  max-width: 500px;
}

input, textarea, select {
  width: 100%;
  margin: 15px 0 40px;
  padding: 10px 15px;                             
  border: 1px solid rgba(255, 255, 255, 0.5);     
  border-radius: 4px;                             
  background-color: var(--grisclaro);             
  font-size: 0.9em;                              
  color: rgba(255, 255, 255, 0.8);
}

textarea {
  height: 150px;
  resize: none;
}

input[type="submit"] {
  background-color: var(--negro);
  border: 2px solid var(--blanco);
  color: var(--blanco);
  width: 100px;
}

input[type="submit"]:hover {
  background-color: var(--blanco);
  color: var(--negro);
}

main.contacto div {
  width: 280px;
  margin: 150px auto;
}

.social a img {
  width: 50px;
  height: 50px;
  background-color: var(--blanco);
  border-radius: 8px;
  margin: 12px;
  padding: 8px;
}

.social a img:hover {
 opacity: .4; 
 transition: all .3s ease-in-out;
}

